.page-item {
    &.disabled {
        .page-link {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: blueviolet;
    border-color: blueviolet;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color:blueviolet;
    background-color: #fff;
    border: 1px solid #dee2e6;
}