<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-5 mrgnbtm">
      <h2>Search Locations</h2>
      <div class="row">
        <div class="form-group col-md-12">
          <google-map
                  height="400px"
                  width="100%"
                  [zoom]="zoom"
                  [center]="center"
                  [options]="options"
                  (mapClick)="mapsClick($event)"
                ></google-map>
        </div>        
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" formControlName="category" id="category" aria-describedby="category" placeholder="Enter Category">
          </div>            
        </div>        
        <button type="submit" [disabled]="!searchForm.valid" class="btn btn-secondary">Search</button>
      </form>
    </div>
    <div class="col-md-7 mrgnbtm">
      <app-display-board
       [venueCount]="venueCount"
      >
      </app-display-board>
      <app-venues *ngIf="venues.length !== 0" [venuesEvent]="changedVenues"></app-venues>
    </div>
  </div>
  
